<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Backend Login</title>
    <link rel="stylesheet" href="../../static/backend/backendStyle.css">
</head>
<body>
    <div class="box">
        <span class="borderLine"></span>
        <form method="post" action="{% url 'backend:login' %}">
            {% csrf_token %}

            {% if messages %}
              <ul class="messages">
                {% for message in messages %}
                  <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
                {% endfor %}
              </ul>
            {% endif %}

            <h2>Sign in</h2>
            <div class="inputBox">
                <input type="text" name="username" required="required">
                <span>Username</span>
                <i></i>
            </div>
            <div class="inputBox">
                <input type="password" name="password" required="required">
                <span>Password</span>
                <i></i>
            </div>
            <div class="links">
                <a href="#">Forgot Password</a>
                <a href="#">Signup</a>
            </div>
            <input type="submit" value="Login">
        </form>
    </div>

    <script>
        // Optionally, you can add JavaScript code to automatically hide the messages after a certain time
        setTimeout(function() {
            var messages = document.getElementsByClassName('messages');
            for (var i = 0; i < messages.length; i++) {
                messages[i].style.display = 'none';
            }
        }, 5000);  // Hide messages after 5 seconds
    </script>
</body>
</html>
