
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Backend Signup</title>
    <link rel="stylesheet" href="../../static/backend/backendStyle.css">
</head>
<body>
    <div class="box">
        <span class="borderLine"></span>
        <form method="post">

            {% if messages %}
              <ul class="messages">
                {% for message in messages %}
                  <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
                {% endfor %}
              </ul>
            {% endif %}
            {% csrf_token %}
            <h2>Sign Up</h2>
            <div class="inputBox">
                <input type="email" required = "required" name="email">
                <span>Email</span>
                <i></i>
            </div>
            <div class="inputBox">
                <input type="password" required = "required" name="password">
                <span>Password</span>
                <i></i>
            </div>

            <div class="inputBox">
                <input type="password" required = "required" name="password2">
                <span>Confirm Password</span>
                <i></i>
            </div>
            <div class="links">
                <a href="#">Signin</a>
            </div>
            <input type="submit" value="Login">
        </form>
    </div>
    <script>
        // Optionally, you can add JavaScript code to automatically hide the messages after a certain time
        setTimeout(function() {
            var messages = document.getElementsByClassName('messages');
            for (var i = 0; i < messages.length; i++) {
                messages[i].style.display = 'none';
            }
        }, 5000);  // Hide messages after 5 seconds
    </script>
</body>

</html>